<p>
  Crie Suas Proprias Moedas - <strong>Data: <%= I18n.l(Date.today) %></strong>
</p>

<center>
  <p>
    <img src="https://international.aaafx.com/Images/new/content/bitcoin/AAAFx-bitcoin-gif-v1.gif">
  </p>
</center>


<%#= render "menu"%>


